

.home-page-child {
    align-self: stretch;
    width: 1440px;
    position: relative;
    background: linear-gradient(
      269.97deg,
      rgba(0, 0, 0, 0.16) 57.54%,
      rgba(0, 0, 0, 0.92)
    );
    display: none;
    max-width: 100%;
    z-index: 1;
  }
  .frame-child,
  .img-9669-1-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .img-9669-1-icon {
    margin: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .frame-child {
    left: -57px;
    background: linear-gradient(
      -89.79deg,
      rgba(217, 217, 217, 0) 49.47%,
      rgba(0, 0, 0, 0.84) 82.1%
    );
    z-index: 2;
  }
  .menu {
    position: absolute;
    top: 320.5px;
    left: 89.5px;
    cursor: pointer;
    z-index: 3;
  }
  .about-us,
  .contact-us {
    position: absolute;
    top: 387.5px;
    left: 71.5px;
    z-index: 3;
  }
  .contact-us {
    top: 454.5px;
    left: 63px;
  }
  .coet {
    margin: 0;
    top: 325px;
    font-size: 80px;
    line-height: 113.8%;
    font-weight: 500;
  }
  .canteen,
  .coet,
  .lorem-ipsum-dolor {
    position: absolute;
    left: 320px;
    font-family: var(--font-playfair-display);
    color: var(--color-white);
    text-align: left;
    z-index: 3;
  }
  .canteen {
    margin: 0;
    top: 395px;
    font-size: 120px;
    line-height: 113.8%;
    font-weight: 500;
  }
  .lorem-ipsum-dolor {
    top: 566px;
    font-size: var(--font-size-3xl);
    line-height: 102.8%;
    font-weight: 600;
    display: inline-block;
    width: 596px;
  }
  .menu-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  .rectangle-parent {
    height: 800px;
    width: 1440px;
    position: relative;
    max-width: 100%;
  }
  .frame-item {
    width: 1px;
    flex: 1;
    position: relative;
    border-right: 1px solid #424242;
    box-sizing: border-box;
    z-index: 3;
  }
  .home-page,
  .home-page-inner {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-page-inner {
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    margin-left: -1190px;
  }
  .home-page {
    height: 800px;
    background: linear-gradient(
      269.97deg,
      rgba(0, 0, 0, 0.16) 57.54%,
      rgba(0, 0, 0, 0.92)
    );
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    position: relative;
    max-width: 100%;
  }
  .menu-offers-child {
    width: 100%;
    height: 674px;
    position: absolute;
    margin: 0 !important;
    top: 636px;
    right: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  .wrapper-rectangle-6-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 11px;
    top: 0;
    transform: scale(1.368);
  }
  .wrapper-rectangle-6 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    width: 620px;
    height: 342px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper-rectangle-7-child {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 7px;
    top: 4px;
    transform: scale(1.169);
  }
  .wrapper-rectangle-7 {
    position: absolute;
    top: 171px;
    left: 460px;
    border-radius: var(--br-xs);
    width: 325px;
    height: 296px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper-rectangle-6-parent {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .frame-container,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .frame-container {
    align-self: stretch;
    height: 467px;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }
  .frame-wrapper {
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 var(--padding-10xl);
    box-sizing: border-box;
    min-width: 510px;
    max-width: 100%;
  }
  .our-menu {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 113.8%;
    font-weight: 500;
    font-family: inherit;
  }
  .frame-inner {
    height: 5px;
    flex: 1;
    position: relative;
    border-top: 5px solid var(--color-orange);
    box-sizing: border-box;
  }
  .line-wrapper,
  .our-menu-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .line-wrapper {
    width: 116px;
    flex-direction: row;
    padding: 0 var(--padding-9xs);
    box-sizing: border-box;
  }
  .our-menu-parent {
    flex-direction: column;
    gap: 6.5px;
  }
  .lorem-ipsum-dolor1 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-3xl);
    line-height: 102.8%;
    font-family: var(--font-inter);
    color: var(--color-darkslategray-100);
  }
  .frame-div {
    width: 504px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16.5px;
    max-width: 100%;
  }
  .menu1 {
    position: relative;
    font-size: 33.2px;
    line-height: 113.8%;
    font-weight: 500;
    font-family: var(--font-playfair-display);
    color: var(--color-black);
    text-align: left;
  }
  .menu-button,
  .menu-button-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .menu-button {
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: 12.1px var(--padding-xl) 22.4px var(--padding-2xl);
    background-color: transparent;
    align-self: stretch;
    border-radius: 7px;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
  }
  .menu-button:hover {
    background-color: rgba(51, 51, 51, 0.09);
    border: 1px solid #333;
    box-sizing: border-box;
  }
  .menu-button-wrapper {
    width: 287px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 var(--padding-10xl);
    box-sizing: border-box;
  }
  .down-arrow-icon {
    height: 65px;
    width: 74px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-group {
    width: 534px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 68px;
    min-width: 534px;
    max-width: 100%;
  }
  .frame-parent,
  .menu-offers-inner {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .frame-parent {
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 53px;
  }
  .menu-offers-inner {
    width: 1428px;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .calum-lewis-va1l1jrtm70-unspla-icon,
  .special-offer-child {
    width: 100%;
    height: 1440px;
    position: absolute;
    margin: 0 !important;
    right: 0;
    bottom: -400px;
    left: 0;
  }
  .calum-lewis-va1l1jrtm70-unspla-icon {
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;

  }
  .special-offer-child {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.29) 5.09%,
      rgba(102, 102, 102, 0.29) 46%,
      rgba(0, 0, 0, 0.29)
    );
    z-index: 1;
  }
  .line-div {
    height: 5px;
    width: 113px;
    position: relative;
    border-top: 5px solid var(--color-orange);
    box-sizing: border-box;
    z-index: 3;
  }
  .special-offer-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .rectangle-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .animation-inner {
    margin-left: -312px;
    height: 483.4px;
    width: 270px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-44xl-9) 0 0;
    box-sizing: border-box;
  }
  .frame-child1 {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    debug_commit: f6aba90;
  }
  .animation-child,
  .frame-child1,
  .frame-child2 {
    align-self: stretch;
    flex-shrink: 0;
  }
  .animation-child {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-116xl) 0 0;
    box-sizing: border-box;
  }
  .frame-child2 {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    debug_commit: f6aba90;
  }
  .animation-inner1 {
    height: 483.4px;
    width: 270px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-44xl-9) 0 0;
    box-sizing: border-box;
  }
  .animation-item,
  .frame-child3 {
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .animation-item {
    height: 419.5px;
    width: 270px;
  }
  .frame-child3 {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .animation-inner2 {
    height: 483.4px;
    width: 270px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-44xl-9) 0 0;
    box-sizing: border-box;
  }
  .frame-child4 {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .animation-inner3 {
    align-self: stretch;
    width: 270px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-116xl) 0 0;
    box-sizing: border-box;
  }
  .frame-child5 {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .animation-inner4 {
    height: 483.5px;
    width: 270px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px 0 0;
    box-sizing: border-box;
  }
  .animation {
    width: 1440px;
    flex: 1;
    overflow-x: auto;
    flex-direction: row;
    padding: 13px 260px 40.5px;
    gap: var(--gap-23xl);
    z-index: 2;
  }
  .animation,
  .special-offer,
  .special-offers,
  .special-offers-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .special-offer {
    height: 822px;
    flex: 1;
    flex-direction: column;
    padding: 84px 0 59px;
    position: relative;
    gap: 66px;
  }
  .special-offers,
  .special-offers-wrapper {
    flex-direction: row;
  }
  .special-offers {
    height: 687px;
    flex: 1;
    padding: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .special-offers-wrapper {
    align-self: stretch;
    padding: 0 0 105px;
  }
  .about-us1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 113.8%;
    font-weight: 500;
    font-family: inherit;
  }
  .frame-child6 {
    width: 113px;
    height: 5px;
    position: relative;
    border-top: 5px solid var(--color-orange);
    box-sizing: border-box;
  }
  .about-us-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }
  .lorem-ipsum-dolor2 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-3xl);
    line-height: 102.8%;
    font-family: var(--font-inter);
    color: var(--color-darkslategray-100);
  }
  .about-us-inner-inner,
  .frame-parent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent2 {
    align-self: stretch;
    gap: 32px;
  }
  .about-us-inner-inner {
    width: 425px;
    padding: 24px 0 0;
    box-sizing: border-box;
    min-width: 425px;
    max-width: 100%;
  }
  .wrapper-rectangle-13-child {
    height: 100%;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    min-width: 443px;
    object-fit: contain;
    position: absolute;
    left: -10px;
    top: -1px;
    width: 100%;
    transform: scale(1.059);
  }
  .wrapper-rectangle-13 {
    height: 475px;
    flex: 1;
    position: relative;
    min-width: 443px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-inner,
  .down-arrow-icon1 {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
  }
  .about-us-inner {
    background-color: var(--color-white);
    box-shadow: 10px 6px 50px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lgi) var(--padding-2xs) var(--padding-lgi)
      var(--padding-13xl);
    box-sizing: border-box;
    gap: var(--gap-23xl);
    z-index: 2;
  }
  .down-arrow-icon1 {
    align-self: stretch;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  .down-arrow-wrapper {
    height: 89px;
    width: 74px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .about-us-inner-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 24px;
    max-width: 100%;
  }
  .menu-offers,
  .menu-offers-inner1 {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .menu-offers-inner1 {
    width: 1311px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-2xs);
  }
  .menu-offers {
    align-self: stretch;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 77px 0 188px;
    position: relative;
    gap: 30px;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
    font-family: var(--font-playfair-display);
  }
  .frame-child7,
  .frame-child8,
  .rectangle-div {
    width: 40.9px;
    height: 5.6px;
    position: absolute;
    margin: 0 !important;
    left: 9.3px;
    border-radius: 7.44px;
    background-color: var(--color-white);
  }
  .rectangle-div {
    top: 9.3px;
  }
  .frame-child7,
  .frame-child8 {
    bottom: 24.1px;
  }
  .frame-child8 {
    bottom: 9.2px;
  }
  .rectangle-group {
    height: 53.9px;
    flex: 1;
    flex-direction: column;
    padding: 9.3px;
    box-sizing: border-box;
    position: relative;
    gap: 9.3px;
  }
  .hamburger,
  .hamburger-wrapper,
  .rectangle-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hamburger {
    align-self: stretch;
    background-color: var(--color-darkorange);
    overflow: hidden;
    flex-direction: row;
    padding: 8.3px 5.6px 9.4px 6.5px;
  }
  .hamburger-wrapper {
    width: 71.6px;
    flex-direction: column;
    padding: 171.2px 0 0;
    box-sizing: border-box;
  }
  .contact-us1 {
    position: relative;
    line-height: 28.3px;
    display: inline-block;
    max-width: 100%;
  }
  .name {
    position: relative;
    line-height: 28.22px;
  }
  .name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lgi) 0 var(--padding-lgi-5);
  }
  .frame-child9 {
    align-self: stretch;
    height: 0.9px;
    position: relative;
    border-top: 0.9px solid var(--color-gray);
    box-sizing: border-box;
  }
  .email {
    position: relative;
    line-height: 28.22px;
  }
  .email-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lgi) 0 var(--padding-lgi-5);
  }
  .frame-child10 {
    align-self: stretch;
    height: 0.9px;
    position: relative;
    border-top: 0.9px solid var(--color-gray);
    box-sizing: border-box;
  }
  .frame-input {
    width: 131px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lgi-5);
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xl-4);
    color: var(--color-gray);
  }
  .frame-child11 {
    align-self: stretch;
    height: 0.9px;
    position: relative;
    border-top: 0.9px solid var(--color-gray);
    box-sizing: border-box;
  }
  .frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-20xl-6);
  }
  .send {
    position: relative;
    letter-spacing: 0.21em;
    line-height: 28.3px;
  }
  .send-cta {
    width: 348.8px;
    background-color: var(--color-black);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13.1px 141.4px 11.8px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .line-group {
    flex-direction: column;
    gap: 36.7px;
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--color-white);
  }
  .frame-parent5,
  .line-group,
  .line-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent5 {
    flex-direction: column;
    gap: 39.7px;
    max-width: 100%;
  }
  .line-parent {
    gap: 37.1px;
  }
  .contact-us-parent,
  .frame-parent4,
  .line-parent {
    flex-direction: column;
    max-width: 100%;
  }
  .frame-parent4 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-20xl-6);
    text-align: left;
    font-size: var(--font-size-xl-4);
    color: var(--color-gray);
  }
  .contact-us-parent {
    flex: 1;
    padding: 0 1px 0 0;
    box-sizing: border-box;
    gap: 54.2px;
    min-width: 275px;
  }
  .contact-div-inner,
  .contact-us-parent,
  .frame-parent3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent3 {
    align-self: stretch;
    flex-direction: row;
    gap: 14.9px;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .contact-div-inner {
    flex: 1;
    flex-direction: column;
    padding: 11.1px 0 0;
    box-sizing: border-box;
    min-width: 331px;
    max-width: 100%;
  }
  .yellow-rect {
    height: 645.5px;
    width: 225.1px;
    position: absolute;
    margin: 0 !important;
    right: 0.9px;
    bottom: -127.4px;
    background-color: var(--color-darkorange);
  }
  .info {
    position: relative;
    line-height: 28.3px;
    font-weight: 600;
  }
  .info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 14.9px;
    font-size: 30.7px;
  }
  .image-79-icon {
    height: 31.6px;
    width: 33.5px;
    position: relative;
    object-fit: cover;
    min-height: 32px;
  }
  .xyzgmailcom {
    position: relative;
    line-height: 28.3px;
    font-weight: 300;
    white-space: nowrap;
  }
  .image-79-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xl-9);
  }
  .div {
    position: relative;
    line-height: 28.3px;
    font-weight: 300;
    white-space: nowrap;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-2xl);
  }
  .image-80-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    margin: 0 !important;
    bottom: -5.6px;
    left: -5.8px;
    object-fit: contain;
  }
  .frame-parent7 {
    height: 88.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-8xl-9);
  }
  .image-81-icon {
    height: 33.5px;
    width: 33.5px;
    position: relative;
    object-fit: cover;
  }
  .kunnamkulam {
    width: 159px;
    position: relative;
    line-height: 28.3px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .image-81-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 21.3px;
  }
  .image-82-icon {
    height: 33.5px;
    width: 33.5px;
    position: relative;
    object-fit: cover;
    min-height: 34px;
  }
  .div1 {
    position: relative;
    line-height: 28.3px;
    font-weight: 300;
    white-space: nowrap;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 1.7px;
  }
  .frame-parent8,
  .icons,
  .image-82-parent {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  .image-82-parent {
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-7xl-9);
  }
  .frame-parent8,
  .icons {
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-parent8 {
    gap: var(--gap-8xl-9);
  }
  .icons {
    align-self: stretch;
    background-color: var(--color-black);
    overflow: hidden;
    padding: 66px 57px 67px;
    gap: 26.8px;
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 1;
  }
  .contact-div,
  .contact-div-wrapper,
  .yellow-rect-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .yellow-rect-parent {
    height: 413.9px;
    width: 453px;
    justify-content: flex-start;
    position: relative;
    min-width: 453px;
    font-size: var(--font-size-xl-5);
    color: var(--color-white);
  }
  .contact-div,
  .contact-div-wrapper {
    box-sizing: border-box;
  }
  .contact-div {
    width: 1135.7px;
    background-color: var(--color-white);
    box-shadow: 8.4px 10.2px 39.99px 12.09px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 63.6px 0 73.6px;
    gap: 173.9px;
    z-index: 2;
  }
  .contact-div-wrapper {
    width: 1410.3px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    margin-top: -73px;
    text-align: center;
    font-size: 59.5px;
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .menu-offers-parent,
  .restaurant {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu-offers-parent {
    align-self: stretch;
    align-items: flex-end;
    max-width: 100%;
  }
  .restaurant {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    align-items: flex-start;
    padding: 0 0 159.5px;
    box-sizing: border-box;
    gap: 4px;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-6xl);
    color: var(--color-silver);
    font-family: var(--font-josefin-sans);
  }
  @media screen and (max-width: 1200px) {
    .frame-group {
      flex: 1;
    }
    .frame-parent {
      flex-wrap: wrap;
    }
    .animation {
      padding-left: var(--padding-111xl);
      padding-right: var(--padding-111xl);
      box-sizing: border-box;
    }
    .menu-offers {
      padding-top: 50px;
      padding-bottom: 122px;
      box-sizing: border-box;
    }
    .contact-div {
      gap: 173.9px 87px;
    }
  }
  @media screen and (max-width: 1050px) {
    .coet {
      font-size: var(--font-size-21xl);
      line-height: 55px;
    }
    .canteen {
      font-size: var(--font-size-29xl);
      line-height: 82px;
    }
    .our-menu {
      font-size: var(--font-size-21xl);
      line-height: 46px;
    }
    .menu1 {
      font-size: 27px;
      line-height: 30px;
    }
    .special-offer {
      padding-top: 55px;
      padding-bottom: 38px;
      box-sizing: border-box;
    }
    .special-offers-wrapper {
      padding-bottom: 68px;
      box-sizing: border-box;
    }
    .about-us1 {
      font-size: var(--font-size-21xl);
      line-height: 46px;
    }
    .about-us-inner-inner {
      flex: 1;
    }
    .about-us-inner {
      flex-wrap: wrap;
      min-width: 100%;
    }
    .menu-offers {
      padding-top: var(--padding-13xl);
      padding-bottom: 79px;
      box-sizing: border-box;
    }
    .contact-us1,
    .info {
      font-size: var(--font-size-29xl);
      line-height: 23px;
    }
    .info {
      font-size: var(--font-size-6xl);
    }
    .yellow-rect-parent {
      flex: 1;
    }
    .contact-div {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-group,
    .frame-wrapper {
      min-width: 100%;
    }
    .frame-group {
      gap: 34px 68px;
    }
    .frame-parent {
      gap: 53px 26px;
    }
    .animation-child,
    .animation-inner {
      padding-top: var(--padding-23xl);
      box-sizing: border-box;
    }
    .animation-child {
      padding-top: var(--padding-69xl);
    }
    .animation-inner1,
    .animation-inner2 {
      padding-top: var(--padding-23xl);
      box-sizing: border-box;
    }
    .animation-inner3,
    .animation-inner4 {
      padding-top: var(--padding-69xl);
      box-sizing: border-box;
    }
    .animation-inner4 {
      padding-top: var(--padding-23xl);
    }
    .animation {
      gap: 42px 21px;
      padding: var(--padding-xl) 65px 26px;
      box-sizing: border-box;
    }
    .special-offer {
      gap: 33px 66px;
    }
    .about-us-inner-inner,
    .wrapper-rectangle-13-child {
      min-width: 100%;
    }
    .about-us-inner {
      gap: 42px 21px;
    }
    .menu-offers {
      padding-top: var(--padding-2xl);
      padding-bottom: 51px;
      box-sizing: border-box;
    }
    .yellow-rect-parent {
      min-width: 100%;
    }
    .contact-div {
      gap: 173.9px 43px;
      padding-top: var(--padding-74xl);
      padding-bottom: 48px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .about-us,
    .contact-us,
    .menu {
      font-size: var(--font-size-xl);
    }
    .coet {
      font-size: 24px;
      line-height: 36px;
    }
    .canteen {
      font-size: var(--font-size-11xl);
      line-height: 55px;
    }
    .lorem-ipsum-dolor {
      font-size: var(--font-size-lg);
      line-height: 18px;
    }
    .our-menu {
      font-size: var(--font-size-11xl);
      line-height: 34px;
    }
    .lorem-ipsum-dolor1 {
      font-size: var(--font-size-lg);
      line-height: 18px;
    }
    .menu1 {
      font-size: var(--font-size-xl);
      line-height: 23px;
    }
    .frame-parent1 {
      flex-wrap: wrap;
    }
    .frame-group {
      gap: 17px 68px;
    }
    .animation {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .special-offer {
      gap: 16px 66px;
      padding-top: 36px;
      padding-bottom: 25px;
      box-sizing: border-box;
    }
    .special-offers-wrapper {
      padding-bottom: var(--padding-25xl);
      box-sizing: border-box;
    }
    .about-us1 {
      font-size: var(--font-size-11xl);
      line-height: 34px;
    }
    .lorem-ipsum-dolor2 {
      font-size: var(--font-size-lg);
      line-height: 18px;
    }
    .frame-parent2 {
      gap: 16px 32px;
    }
    .contact-us1 {
      font-size: 36px;
      line-height: 17px;
    }
    .email,
    .name {
      font-size: var(--font-size-base);
      line-height: 23px;
    }
    .frame-parent6 {
      gap: 20px 39.6px;
    }
    .send-cta {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .line-group {
      gap: 18px 36.7px;
    }
    .frame-parent5 {
      gap: 20px 39.7px;
    }
    .line-parent {
      gap: 19px 37.1px;
    }
    .frame-parent4 {
      gap: 20px 39.6px;
    }
    .contact-us-parent {
      gap: 27px 54.2px;
    }
    .frame-parent3 {
      flex-wrap: wrap;
    }
    .info {
      font-size: var(--font-size-lg);
      line-height: 17px;
    }
    .div,
    .div1,
    .kunnamkulam,
    .xyzgmailcom {
      font-size: var(--font-size-base);
      line-height: 23px;
    }
    .icons {
      padding: var(--padding-74xl) var(--padding-xl) var(--padding-25xl);
      box-sizing: border-box;
    }